@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

/* SECCION INICIO */

#inicio {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(./assets/imagenes/Inicio.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px #FF00E6;
    /* color: #0afff5; */
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0 12px;
    font-size: 17px;
    font-weight: 400;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
    color: #FF00E6;
    text-shadow: 0 0 10px #FF00E6;
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: rgba(255, 255, 255, 0.603);
    text-shadow: 0 0 10px #FF00E6;
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .audio {
    margin-bottom: 152px;
}

/* ANIMACION WELCOME */

#inicio .contenido .presentacion .welcome {
    margin-bottom: 90px;
    text-align: center;
    animation: border-flicker 2s linear infinite;
}

#inicio .contenido .presentacion .welcome h1 {
    color: white;
    font-size: 53px;
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: text-flicker 3s linear infinite;
}

#offset {
    animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
    0% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1);
    }
    
    2% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1);
    }
    8% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1);
    }
    9% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1);
    }
    12% {
      opacity:0.1;
      text-shadow: 0px 0px rgba(10, 255, 245, 1);
    }
    20% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1)
    }
    25% {
      opacity:0.3;
      text-shadow: 0px 0px 29px rgb(10, 255, 245, 1)
    }
    30% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1)
    }
    
    70% {
      opacity:0.7;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1)
    }
    
    72% {
      opacity:0.2;
      text-shadow:0px 0px 29px rgba(10, 255, 245, 1)
    }
    
    77% {
      opacity:.9;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1)
    }
    100% {
      opacity:.9;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1)
    }
  }

  @keyframes letter-flicker {
    0% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1);
    }
    2% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1);
    }
    4% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1);
    }
    
    
    19% {
      opacity:1;
      text-shadow: 0px 0px 29px rgb(10, 255, 245, 1);
    }
    21% {
      opacity:0.1;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1);
    }
    23% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1);
    }
    
    80% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1);
    }
    83% {
      opacity:0.4;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1);
    }
    87% {
      opacity:1;
      text-shadow: 0px 0px 29px rgba(10, 255, 245, 1);
    }
  }

#inicio .contenido .presentacion h2 {
    font-size: 44px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #FF00E6;
}

/* ANIMACION H3 */

#inicio .contenido .presentacion h3 {
    text-transfrom: uppercase;
    color:white;
    margin-top: 20px;
    font-size:3em;
    text-align:center;
    animation: neonGlow 2s infinite alternate;
    -webkit-animation: neonGlow 2s infinite alternate;
}

@keyframes neonGlow {
    0% {
      text-shadow: 0 0 10px rgba(255,255,255,.8),
                   0 0 20px rgba(255,255,255,.8),
                   0 0 22px  rgba(255,255,255,.8),
                   0 0 40px  rgba(66,220,219,.8),
                   0 0 60px  rgba(66,220,219,.8),
                   0 0 80px  rgba(66,220,219,.5),
                   0 0 100px rgba(66,220,219,.5),
                   0 0 140px rgba(66,220,219,.5),
                   0 0 200px rgba(66,220,219,.5);
    }
    100% {
      text-shadow: 0 0 2px rgba(255,255,255,.8),
                   0 0 8px rgba(255,255,255,.8),
                   0 0 10px rgba(255,255,255,.8),
                   0 0 20px rgba(66,220,219,.8),
                   0 0 30px rgba(66,220,219,.8),
                   0 0 40px rgba(66,220,219,.8),
                   0 0 50px rgba(66,220,219,.5),
                   0 0 80px rgba(66,220,219,.5);
    }
}

/* TARJETA IR A PORTFOLIO */

#inicio .contenido .presentacion a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin-top: 70px;
    padding: 20px 25px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#inicio .contenido .presentacion a:hover {
    color: white;
    background: #FF00E6;
    border: 1px solid #FF00E6;
    box-shadow: 0 0 10px #FF00E6, 0 0 40px #FF00E6, 0 0 80px #FF00E6;
    transition-delay: .1s;
}

/* SECCION SOBREMI */

#sobremi {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./assets/imagenes/sobremi2\ \(2\).jpg);
    border-top: 2px solid #0afff727;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobremi .sobremi {
    margin: 40 40px;
    background: linear-gradient(rgba(255,0,230,.1), rgba(10,255,245,.1));
    height: 80vh;
    width: 120vh;
    padding: 113px 121px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 10px #0afff5;
    text-align: center;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px;
    letter-spacing: 2px;
    text-align: center;
}

#sobremi .sobremi p {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: white;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 1px solid black;
    padding: 10px 20px;
    margin-top: 80px;
    margin-left: 350px;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}

#sobremi .sobremi a:hover {
    background-color: #0afff5;
    color: white;
    border: 1px solid #0afff5;
    box-shadow: 0 0 10px #0afff5, 0 0 40px #0afff5, 0 0 80px #0afff5;
}

/* SECCION PORTFOLIO */

#portfolio {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(./assets/imagenes/proyecto4.jpg);
    border-top: 2px solid #0afff727;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   

#portfolio .container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#portfolio .container .card {
    position: relative;
}

#portfolio .container .card .face {
    width: 300px;
    height: 200px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

#portfolio .container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

#portfolio .container .card:hover .face.face1 {
    transform: translateY(0);
        box-shadow:
        inset 0 0 60px whitesmoke,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

#portfolio .container .card .face.face1 .content {
    opacity: .2;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    text-align: center;
}

#portfolio .container .card:hover .face.face1 .content {
    opacity: 1;
}

#portfolio .container .card .face.face1 .content img {
    font-size: 3em;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#portfolio .container .card .face.face1 .content a {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#portfolio .container .card .face.face2 {
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.6);
    transform: translateY(-100px);
}

#portfolio .container .card:hover .face.face2 {
    transform: translateY(0);
}

#portfolio .container .card .face.face2 .content p, a {
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
}

#portfolio .container .card .face.face2 .content a {
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

#portfolio .container .card .face.face2 .content a:hover {
    background: #FF00E6;
    color: whitesmoke; 
    box-shadow: 0 0 10px #FF00E6;
    outline : 1px dashed #FF00E6;
}